<h3>Settings</h3>
<p>Manage your account and your subscriptions</p>
<div class="row">
  <div class="col-6 offset-3">
    <ul>
      <li>
        <%= link_to 'Manage your subscription', dashboard_manage_subs_url %>
      </li>
      <li>
        <%= link_to 'Docs', docs_index_url %>
      </li>
    </ul>
  </div>
</div>